<div class="container">
    <h2>Update the drone</h2>
    <form action="/drones/{{drone.id}}/edit" method="POST">
    <div class="row">
        <div class="col-md-4">



            <label>Name</label>
            <input type="text" name="name" placeholder="Drone name" value="{{drone.name}}"/>
        </div>
        <div class="col-md-4">
            <label> Propellers</label>
            <input type="number" name="propellers" placeholder="no. of  propellers" value="{{drone.propellers}}"/>
        </div>
        <div class="col-md-4">
            <label>Maximum Speed</label>
            <input type="number" name="maxSpeed" placeholder="Max Speed" value="{{drone.maxSpeed}}" />
        </div>
        <button type="submit">Update</button>
    </div>
    </form>